<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Photozee.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<servlet-class>com.cis550.photozee.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/photozee/LoginService</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>HomePageService</servlet-name>
  	<servlet-class>com.cis550.photozee.server.HomePageServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>HomePageService</servlet-name>
  	<url-pattern>/photozee/HomePageService</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserProfileService</servlet-name>
  	<servlet-class>com.cis550.photozee.server.UserProfileServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>UserProfileService</servlet-name>
  	<url-pattern>/photozee/UserProfileService</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RegisterService</servlet-name>
  	<servlet-class>com.cis550.photozee.server.RegisterServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>RegisterService</servlet-name>
  	<url-pattern>/photozee/RegisterService</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PhotoService</servlet-name>
  	<servlet-class>com.cis550.photozee.server.PhotoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PhotoService</servlet-name>
  	<url-pattern>/photozee/PhotoService</url-pattern>
  </servlet-mapping>
</web-app>
